body {
  background-color: #111111;
  padding-top: 50px;
  padding-bottom: 50px;
}

a {
  color: #500161;
}

.table > thead > tr > td.active, .table > tbody > tr > td.active,
.table > tfoot > tr > td.active, .table > thead > tr > th.active,
.table > tbody > tr > th.active, .table > tfoot > tr > th.active,
.table > thead > tr.active > td, .table > tbody > tr.active > td,
.table > tfoot > tr.active > td, .table > thead > tr.active > th,
.table > tbody > tr.active > th, .table > tfoot > tr.active > th {
  background-color: #625e5e;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #703232;
}
.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr.active:hover > th {
  background-color: #703232;
}

.panel-primary {
  background-image: linear-gradient(to right, #ae420a 0%, #792f0a 100%);
  border-color: #000000;
}
.panel-heading {
  background-image: linear-gradient(to right, #000000 20%, #999999 150%) !important;
  border-color: #000000 !important;
}

.breadcrumb {
  background-image: linear-gradient(to right, #000000 20%, #999999 150%) !important;
}

.progress {
  background-image: linear-gradient(to bottom, #828181 10%, #0c0a0a 100%);
}

.progress-bar {
  background-image: linear-gradient(to bottom, #405d76 0%, #a93030 100%);
}

.btn-default {
  background-image: linear-gradient(to bottom, #de530c 0%, #3f1905 100%);
  border-color: #de530c;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #333;
  background-image: linear-gradient(to bottom, #3f1905 100%, #de530c 0%);
  background-position: 0 0;
  border-color: #de530c;

}

.btn-primary {
  background-image: linear-gradient(to bottom, #de530c 0%, #3f1905 100%);
  border-color: #de530c;
  color: #ca9276;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-image: linear-gradient(to bottom, #3f1905 100%, #de530c 0%);
  background-position: 0 0;
  border-color: #dc530c;
}

.form-control {
  background-color: #b4b3b3;
  color: ;
}

.pager li > a, .pager li > span {
  background-color: #de530c;
  border-color: #dc530c;
}
.pager li > a:hover, .pager li > a:focus {
    text-decoration: none;
    background-color: #3f1905;
}

.modal-content {
  background-image: linear-gradient(to right, #de530c 5%, #000000 200%);
}

.starter-template {
  padding: 40px 15px;
}

#volumeslider {
  width: 150px;
}

#volumeslider .progress {
  margin-bottom: 0;
}

#volume-icon {
  float: left;
  margin-right: 10px;
  margin-top: 2px;
}

#counter {
  font-size: 24px;
  margin-top: -6px;
  margin-left: 10px;
  min-width: 50px;
}

#search {
  margin-right: -10px;
}

.btn-group-hover {
  opacity: 20%;
}

.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  color: #428bca;
  background-color: #999999;
  border-color: #de530c;
}

@media (max-width: 1199px) {
#btn-responsive-block > .btn {
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 4px;
  }
}

#salamisandwich td:nth-last-child(2), th:nth-last-child(2) {
  text-align: right;
}

#salamisandwich td:nth-child(2) span {
  font-style:italic;
  font-size:90%;
}

tbody {
  cursor: pointer;
}

td:last-child, td:first-child {
  width: 30px;
}

.notifications {
  position: fixed;
  z-index: 9999;
}

/* Positioning */ 
.notifications.top-right {
  right: 10px;
  top: 60px;
}

/* Notification Element */
.notifications > div {
  position: relative;
  z-index: 9999;
  margin: 5px 0px;
}

button {
  overflow: hidden;
}

#trashmode span:last-child {
  display:inline-block;
  text-align:left;
  width:2.8em;
}
